@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Blog Post Application</h1>
    <p>Learn all about building blog applications with ASP.NET Core and C#.</p>
    <p>
        <a href="@Url.Action("Index", "Blog")" class="btn btn-primary btn-lg">View All Posts</a>
    </p>
</div>
