@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Privacy Policy</h1>
            <hr />
            <p>This is a privacy policy page for the Blog Post Application.</p>
            <p>Your privacy is important to us. This page explains our policies regarding the collection and use of personal information.</p>
            <h4 class="mt-4">Information We Collect</h4>
            <p>We may collect information about you when you use our application, such as:</p>
            <ul>
                <li>Your browser type and operating system</li>
                <li>Pages you visit on our site</li>
                <li>The time and duration of your visits</li>
            </ul>
            <h4 class="mt-4">How We Use Your Information</h4>
            <p>We use the information we collect to:</p>
            <ul>
                <li>Improve our application and services</li>
                <li>Personalize your experience</li>
                <li>Analyze usage patterns</li>
            </ul>
            <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-4">Back to Home</a></p>
        </div>
    </div>
</div>
